.account{
    margin-top: 150px;
    color: white;
}

.account h1{
    font-weight: 1;
}

#checkout-button{
    font-size: 20px;
    color: white;
    font-family: 'Gamer';
    background-color: rgba(85, 66, 132, 0.348);
    padding: 10px;
}

#payment{
    font-size: 40px;
}

#payment input{
    font-size: 40px;
    color: white;
    font-family: 'Gamer';
    width: 150px;
    text-align: right;
    background-color: rgba(81, 80, 116, 0.709);
}