.CreateGroup{
    position: relative;
    display: grid;
    width: 1000px;
    grid-template-columns: 500px 500px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    align-items: center;
}

.CreateGroup *{
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}

.CreateGroup input{
    background-color: rgba(255, 255, 255, 0.39);
    font-family: 'Gamer';
    font-weight: lighter;
}

.CreateGroup .time{
    display: flex;
}

.CreateGroup .time input{
    display: flex;
    width: 230.5px;
}

.CreateGroup .button{
    margin-top: 10px;
}

.GroupDetail{
    position: relative;
    margin-top: 200px;
}

.GroupDetail .delete{
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
}

.request{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.requests p{
    display: inline;
    color: white;
}

.GroupDetail *{
    color: white;
    font-weight: 100;
}

.GroupDetail input{
    color: black;
}

.at{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

#dMessages{
    margin-top: 25px;
}