.CreateGroup{
    position: relative;
    display: grid;
    width: 1000px;
    grid-template-columns: 500px 500px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    align-items: center;
}

.CreateGroup *{
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}

.CreateGroup input{
    background-color: rgba(255, 255, 255, 0.39);
    font-family: 'Gamer';
    font-weight: lighter;
}

.CreateGroup .time{
    display: flex;
}

.CreateGroup .time input{
    display: flex;
    width: 230.5px;
}

.CreateGroup .button{
    margin-top: 10px;
}

.GroupDetail{
    position: relative;
    margin-top: 100px;
    display: flex;
}

.GroupDetail .delete{
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
}

.request{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.requests p{
    display: inline;
    color: white;
}

.GroupDetail *{
    color: white;
    font-weight: 100;
    font-size: 20px;
}

.GroupDetail input{
    color: black;
}

.at{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

#dMessages{
    margin-top: 25px;
}

.GroupDetail .right{
    flex: 1;
    margin-left: 200px;
}

.chat{
    background-color: rgb(16, 16, 52);
    height: calc(100vh - 300px);
    overflow-y: auto;
    display:flex;
    flex-direction: column-reverse;
}

#box{
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.296);
    color: white;
    font-family: 'Gamer';
}

.GroupDetail input[type="button"]{
    color: white;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(74, 74, 74);
    font-family: 'Gamer';
}

.name{
    color: rgb(86, 86, 86);
}

.own{
    text-align: center;
}

.msg{
    margin-bottom: 20px;
}