.GroupList{
    margin-top: 75px;
    color: white;
}

.GroupList h1, .GroupList h4{
    text-align: center;
}

.GroupList *{
    font-weight: lighter;
}

.ListItem{

    position: relative;
    color: black;
    background-color: white;
    font-size: 25px;
    width: 450px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
}

.owned{
    background-color: limegreen;
}

.grid{
    display: grid;
    width: fit-content;
    grid-template-columns: 450px 450px 450px;
    gap: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
